h1{
    background-image: url("https://www.asiaone.com/sites/default/files/original_images/Jul2019/190711_happy-birthday_unsplash.jpg");
width: 100%;
height: 700px;
background-size: cover;
background-repeat: no-repeat;
/* padding: 20px; */
}
h1{
    color:rgb(194, 167, 116);
    font-size: 7ch;
    padding-top: 100px;
}
#mimi{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color:rgb(143, 137, 86);
    width: 40%;
}
#nini,#nono,#nene,#momo,#nunu,#nana{
    padding: 40px;
    font-size: 18px;
   
    
}